.banner {
  background: #022a5f;
  display: grid;
  grid-template-areas: "ilust"
                       "resum";
  grid-gap: 10px;
  padding: 0;
  margin: 1em auto;
  align-self: flex-start;
  justify-self: start;
  width: 90%;
}

.banner div {
  padding: 0;
  margin: 0;
}

.ilustracao img {
  border-radius: 0;
  grid-area: ilust;
  width: 100%;
  height: auto;
}


.resumo {
  grid-area: resum;
  margin: 1em !important;
  height: 420px;
}

.navbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.arrowbanner img {
  width: 50px;
}

.navbanner button {
  padding: 0;
  margin: 0;
  height: fit-content;
  background: transparent;
}

.conteudo {
  position: relative;
  height: 420px;
}
.resumo .lin {
  position: absolute;
  bottom: 0;
  left: 0;
}

.resumo .lin p {
  text-indent: 0;
  width: 300px;
}

/* Configurações para tela de Tablet/PC
----------------------------------------------------- */
@media (min-width: 550px){
  .banner {
    grid-template-areas: "ilust resum";
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
  }

  .resumo {
    height: auto;
  }
}