/*  Laranja   #CC5602
    Azul      #009EB2
    Preto     #181D1F
    Cinza     #D1D1C2
    Vermelho  #D6312B
*/
*, *:before, *:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}    /* Eliminar uma "borda" invisível que fica no cando da página */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');   /* Importar a fonte Roboto */

/* Header 
------------------------------------------ */
header {
    text-align: center;
    border: black;
    font: 400 20px Roboto, sans-srif;
    padding-bottom: 20px;
}
header {
    background-color: #009EB2;
    color:#181D1F;
    height: 50px;
    list-style: none;
    padding-top: 7px;
    width: 100%;
}

body {
    background-color:  #d1d1c2;  /* #3a3a3a */
    font: 400 14px Roboto, sans-srif;
}

p {
    padding-top: 20px;
}

section {
    background: #d1d1c2;
    color: #181D1F;
    /*border-radius: 10px;*/
    padding: 15px;
    width: auto; /* 800px, auto */
    max-width: 960px;
    margin: auto;
    font: 400 20px Roboto, sans-srif;
    box-shadow: black;
    text-align: justify;
}

section header {
    text-align: center;
}


button {
    width: 150px;    /* Pode usar porcentagem da pagina 100% ocupa toda a largura da pagina  */
    height: 60px;
    background: #D6312B;
    border: 0;
    border-radius: 10px;
    color: #D1D1C2;
    font-weight: 700;   /* Deixar a fonte maior ou em negrito */
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
    transition: filter 0.2s; /* Mudar a cor (parametro de baixo) de forma gradual */
    vertical-align: top;
}

button:hover { /*  Ação ao passar o moue por cima do "botão" */
    filter: brightness(80%);
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: initial;
}

section ul {
    padding-left: 60px;
}

footer {
    color:  white;
    font: 500 20px Roboto, sans-srif;
    text-align: center;
    font-style: italic;
}