.corpo {
    background-color:  #009EB2;
    padding-bottom: 1em;
    border-radius: 20px;
    height: auto;
    margin: 2em auto;
    text-align: center;
    width: 90%;
}

@media (min-width: 768px){
    .corpo{
        text-align: center;
        width: 700px;
    }
}

.display {
    background-color: white;
    position: relative;
    top: 1em;
    height: 1.5em;
    margin: 1em;
}

.line {
    display: flex;
    justify-content: space-around;
}