/*  Laranja   #CC5602
    Azul      #009EB2
    Preto     #181D1F
    Cinza     #D1D1C2
    Vermelho  #D6312B
*/
*, *:before, *:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}    /* Eliminar uma "borda" invisível que fica no cando da página */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');   /* Importar a fonte Roboto */

/* Header 
------------------------------------------ */
.header {
    background-color: #009EB2;
    color:#181D1F;
    height: 50px;
    list-style: none;
    padding-top: 7px;
    width: 100%;
}

.header .logo img {
    padding-top: 5px;
    margin: 0;
    border: 0;
}
.nav-toggle {
    padding-top: 5px;
}

.content {      /* Inicio do conteudo que aparece */
    max-width: 960px; /* Para fixar o máximo que pode aumentar */
    width: 98%;
    margin: 0 auto;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    padding: 0;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    padding: 6px 5px;
    margin: 0px;
    box-sizing: border-box;
    animation: .5s;
    transition-duration: 0.2s;
}

.header .current {
    border-bottom: 7px solid #D6312B;
}


.header .content .social {
    padding-right: 10px;
}

.header .content .social ul li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 5px;
    border: 0;
}


header {
    text-align: center;
    font: 500 20px Roboto, sans-srif;
    padding-bottom: 20px;
}

body {
    background-color:  #d1d1c2;  /* #3a3a3a */
    font: 400 14px Roboto, sans-srif;
}

section {
    color: #181D1F;
    /*border-radius: 10px;*/
    padding: 15px;
    width: auto; /* 800px, auto */
    max-width: 960px;
    margin: auto;
    font: 400 20px Roboto, sans-srif;
    box-shadow: black;
    text-align: justify;
}

section header {
    text-align: center;
}

ul {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}

ul li a {
    color: inherit;
    text-decoration: initial;
}



button {
    width: auto;    /* Pode usar porcentagem da pagina 100% ocupa toda a largura da pagina  */
    height: 60px;
    background: #D6312B;
    border: 0;
    border-radius: 10px;
    color: #D1D1C2;
    font-weight: 700;   /* Deixar a fonte maior ou em negrito */
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
    transition: filter 0.2s; /* Mudar a cor (parametro de baixo) de forma gradual */
    vertical-align: top;
}

button:hover { /*  Ação ao passar o moue por cima do "botão" */
    filter: brightness(80%);
    cursor: pointer;
}

footer {
    color:  white;
    font: 500 20px Roboto, sans-srif;
    text-align: center;
    font-style: italic;
}

/* Configurações para tela de Smartphone
----------------------------------------------------- */
@media (max-width: 767.5px) {
    /* MENU  */
    .content {
        width: 90%;
    }

    .header .content .nav {
    background-color: #D6312B;
    box-sizing: border-box;
    color: inherit;
    height: 100%;
    padding: 5px;
    position: fixed;
    right: -100%;
    text-decoration: none;
    text-align: left;
    top: 0;
    width: 250px;
    z-index: 10;
    }

    .header .nav ul li {
        padding: 15px 5px;
        font-size: 20px;
        border-bottom: 1px solid black;
    }

    .nav-close {
        padding-top: 8px;
        padding-right: 22px;
    }

    .nav .current {
        color: white;
    }

    .social {
        display: none;
    }

}



/* Configurações para tela de Computador
----------------------------------------------------- */
@media (min-width: 768px) {
    /* MENU */
    .logo, .nav-toggle, .nav-close {
        display: none;
    }

    .header .nav {
        float: left;
        margin-left: 20px;
        margin-top: 6px;
    }
    .header .nav ul li {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0;
        content: '|';
    }

    .header .nav ul li a:hover {
        border-bottom: 7px solid #D6312B;
        /*animation-direction: unset;*/
        /*transition: margin-botton 4s;*/
        /*transition: height .2s ease-in-out;*/
    }

    .header .social {
        float: right;
        margin-top: 6px;
    }
    .header .social ul li {
        display: inline-block;
        margin-right: 20px;
        content: '|';
    }


}

/* button.home {
    background: #009EB2;
    border-radius: 0px;
    font-size: 5px;
    height: 60px;
    margin-top: 0px;
    margin-left: -8px;
    padding: 0px;
    text-align: center;
}   


menu button:hover {
    filter: brightness(100%);
}

menu button.home {
    margin-left: -8px;
}
menu button.aboutme {
    margin-left: 4px;
}

menu.end {
    align-content: flex-end;
}

menu button.facebook {
    margin-right: 0px;
    nav-left: auto;
    min-width: 40px;
}
*/